.finalized__plan-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem;
  background-color: #d6d9e6;

  margin: 0 2.4rem;
}

.user-plan {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.finalized__plan {
  display: flex;
  flex-direction: column;
}

.yearly {
  margin: 0 0 0 0.3rem;
}

.monthly {
  margin: 0 0 0 0.3rem;
}

.change {
  margin-top: 0.3rem;
}
