.circle-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 1.6rem;
  height: 2.3rem;
  border-radius: 100%;
  padding: 2rem;
  color: var(--white);
  border: 1px solid var(--white);
  margin-right: 2.4rem;
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle--active {
  color: var(--marine-blue);
  background-color: var(--pastel-blue);
  border: 1px solid var(--pastel-blue);
}
